<!DOCTYPE html>
<html>
<head>
<title>Request catcher</title>
<link rel="stylesheet" href="https://unpkg.com/chota@latest">
<script>
    function connect() {
        var protocol = "wss://";
        if (window.location.protocol === "http:") {
            protocol = "ws://";
        }
        const conn = new WebSocket(protocol + window.location.host + "/ws")
        conn.onmessage = function(event) {
            var request = JSON.parse(event.data);
            var tbodyRef = document.getElementById('requests').getElementsByTagName('tbody')[0];
            var row = tbodyRef.insertRow(0);
            fields = ["created_at", "url", "method", "body", "content_length", "remote_addr", "headers"];
            for (let field of fields) {
                let cell = row.insertCell();
                let cellBody
                if (field == 'headers') {
                    headers = JSON.parse(request[field])
                    for (let key in headers) {
                        cell.innerHTML += '<strong>' + key + '</strong> : ' + headers[key] + "<br>"
                    }
                } else {
                    cell.appendChild(document.createTextNode(request[field]));
                }
            }
        }
    }
    if (window.WebSocket) {
        connect();
    }
</script>
</head>
<body>
    <table class="striped" id="requests">
    <thead>
        <tr>
            <th>Time</th>
            <th>Url</th>
            <th>Method</th>
            <th>Body</th>
            <th>Content Length</th>
            <th>Remote address</th>
            <th>Headers</th>
        </tr>
    </thead>
    <tbody>
    {{with .}}
        {{range .}}
        <tr>
            <td>{{.Time.String}}</td>
            <td>{{.Url}}</td>
            <td>{{.Method}} </td>
            <td>{{.Body}}</td>
            <td>{{.ContentLength}}</td>
            <td>{{.RemoteAddr}}</td>
            <td>
            {{with .ParsedHeaders}}
                {{ range $key, $values := . }}
                    <strong>{{$key}}</strong> : {{range $values}} {{.}}  {{end}}<br>
                {{end}}
            {{end}}
            </td>
        </tr>
        {{end}}
    {{end}}
    </tbody>
    </table>
</body>
</html>